/.idea
/.vs
/_ReSharper.Caches
/Binaries
/Build/WindowsNoEditor
/DerivedDataCache
/Intermediate
/Plugins/*/Binaries
*.uasset
*.blend
/Plugins/*/Intermediate
/Saved
/WindowsNoEditor

/Plugins/Developer/RiderLink

*.exe
*.exp
*.lib
*.patch_*
*.pdb
*.sln
*.target
*.user
*.vsconfig
/Plugins/web3Unreal/docs/hyperplay/rpc/examples/addtoken.rst
/Plugins/Yap/nul

